/* Reset padding and margin */
* {
    padding: 0px;
    margin: 0px;
}

body {

}

/* The wrapper for the whole page */
#main-wrapper {
    width: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/* The main header of the page */
#main-header {
    height: 140px;
	background-color: white;
	color: #365eb0;
    
    /* outside source */
	background: #efefef;
	background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); 
	background: -webkit-linear-gradient(top, #bbbbbb 0%, #efefef 100%);
}

#logo {
    width: 10%;
    height: 100%;
    display: inline-block;
    padding: 10px;
}

#title {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

#title h1, #title h2 {
    margin: 0px;
}

#signin {
    float: right;
    height: 100%;
    display: inline-block;
}

#title #signin span {
	font-size: 0.7em;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: both;
}

#navbar {
    z-index: 10;
	margin: 0;
	padding: 0;
	float: left;
    width: 100%;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.2);
}

#navbar ul {
    box-shadow: 0px 10px 5px rgba(0,0,0,0.2);
}

#navbar li{
    z-index: 1;
	list-style-type: none;
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
	color: #08090A;
	display: inline;

	/* outside source */
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);   
}

#navbar li.subject {
    width: 100%;
}

#navbar li.subject ul li {
    width: 200px;
}

#navbar li a{
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

#navbar a:link, #navbar a:visited {
    color: #365eb0;
}

#navbar ul {
	list-style-type: none;
	display: none;
    position: absolute;
    left: 0;
    top:  100%;
}

/* appear to the side of list bar */
#navbar ul ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

#navbar li:hover > ul {
	display: block;
}

#navbar li a:hover:not(.active){
	color: #F4AC42;
}

/* Division containing the whole content */
#main-content {
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}


/* The main footer of the page */
#main-footer {
    width:100%;
	text-align:center;
	letter-spacing: 3px;
	font-weight:bold;
	margin: 0px auto;
	padding: 20px 0px;
	background-color:#003C79;
	color:#ffffff;
    clear: both;
}

#main-footer p {
    margin: 10px;
}

#main-footer a {
    text-decoration: none;
}

#main-footer a:link, #main-footer a:visited {
    color: #FFFFFF;
}

#main-footer a:hover {
    color: #F7624A;
}